<app-navbar></app-navbar>
<app-left-bar></app-left-bar>
<app-idle></app-idle>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">COMPRAR CREDITOS</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li class="active">{{ hoy | date :'fullDate'}}</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Sample Forms with icon</h3>
                <p class="text-muted m-b-30 font-13"> Bootstrap Elements </p>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <form action="/procesar-pago" method="POST">
                            <button type="button" (click)="onBuy()" class="mercadopago-button" id="mercadopago-button" target="_blank">
                           Pagar
                        </button>
                        </form>
                    </div>
                </div>
            </div>

            <mat-card class="example-container">
                <div class="example-header col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <mat-form-field>
                                <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                            </mat-form-field>
                        </div>


                    </div>
                </div>
                <table mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8" width="80%" align="center">
                    <ng-container matColumnDef="fecha">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA </th>
                        <td mat-cell *matCellDef="let element">{{ element.created_time | date:'dd/MM/yy H:mm'}} </td>
                    </ng-container>
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.id }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="campana">
                        <th mat-header-cell *matHeaderCellDef> CAMPAÑA </th>
                        <td mat-cell *matCellDef="let element">{{ element.nombre_campana }} </td>
                    </ng-container>

                    <ng-container matColumnDef="bco_origen">
                        <th mat-header-cell *matHeaderCellDef> BANCO ORIGEN </th>
                        <td mat-cell *matCellDef="let element">
                            <span><b>{{element.banco_origen}}</b></span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="bco_destino">
                        <th mat-header-cell *matHeaderCellDef> BANCO DESTINO </th>
                        <td mat-cell *matCellDef="let element">
                            <span><b>{{element.nombre_banco}}</b></span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="tools">
                        <th mat-header-cell *matHeaderCellDef> TOOLS </th>
                        <td mat-cell *matCellDef="let element" align="center">
                            <button type="button" class="btn btn-primary btn-rounded waves-effect waves-light">
                      <span class="btn-label"><i
                              class="fa fa-pencil"></i></span>Comprar</button>


                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>



                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                </mat-paginator>
            </mat-card>
        </div>


    </div>
</div>