<app-navbar></app-navbar>
<app-left-bar></app-left-bar>
<app-idle></app-idle>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table">
                <td>
                    <div class="calcTitle">
                        <h1 class="titleSlider" *ngIf="!toModifyId">
                            Crear <small class="subTitleSlider">socio</small>
                        </h1>
                        <h1 class="titleSlider" *ngIf="toModifyId">
                            Modifiar <small class="subTitleSlider">socio</small>
                        </h1>
                        <p>

                        </p>
                    </div>
                </td>
                <td>

                </td>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="white-box">
            <div class="row">
                <div class="panel-body p-t-0">
                    <div class="col-col-lg-12 col-md-12">
                        <div class="col-lg-6">
                            <input type="text" placeholder="Buscar..." [formControl]="searchControl" name="buscador" class="form-control" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option (onSelectionChange)="onEnterSearch($event.source.value)" *ngFor="let emp of filteredOptions | async" [value]="emp.rut">
                                    <div><small>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">{{emp?.rut }}
                                        </font>
                                    </font>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">{{ emp?.nombres }}</font>
                                    </font>
                                </small>
                                    </div>

                                </mat-option>
                            </mat-autocomplete>
                        </div>
                        <div class="col-lg-6">

                            <button class="btn btn-success btn-rounded waves-effect waves-light" type="button" [routerLink]="['/crear-usuario']">Añadir nuevo usuario</button>
                        </div>
                    </div>
                    <div class="col-lg-12" *ngIf="selectedUser">

                        <ol class="hbreadcrumb breadcrumb">
                            <li>Nombre :{{selectedUser?.nombres}}</li>
                            <li> RUT: {{ selectedUser?.rut | number:'1.0-0':'es' }}-{{ selectedUser?.dv }} </li>
                            <li *ngIf="selectedUser.id_cargo">
                                NIVEL : {{selectedUser?.nombre_cargo}}
                            </li>
                            <li *ngIf="!selectedUser.id_cargo">
                                NIVEL : INDEFINIDO
                            </li>

                        </ol>
                        <button class="btn btn-primary" *ngIf="selectedUser.id_cargo != ID_CARGO_SOCIO" (click)="turnIntoSocio()">Convertir en socio</button>
                        <button class="btn btn-primary" *ngIf="selectedUser.id_cargo == ID_CARGO_SOCIO" (click)="turnIntoSocio()">Quitar permisos de socio</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="white-box">
            <div class="row" *ngIf="selectedUser">
                <div class="col" *ngIf="selectedUser.id_cargo == ID_CARGO_SOCIO">
                    <label>Asignar sucursales</label>
                    <dual-list [source]="source" [(destination)]="confirmed" height="150px" display="nombre_sucursal" [sort]="keepSorted" [filter]="filter" key="idsucursal" [format]="format"></dual-list>
                </div>
                <br>
                <div class="col">
                    <button class="btn btn-success" (click)="submitSucursalUsuario()">Confirmar</button>
                </div>
            </div>

        </div>
    </div>
</div>