# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
node_modules
.firebase/hosting.ZGlzdFxhcHBQaWxvdA.cache
.editorconfig
.firebase/hosting.bg.cache
.firebase/hosting.cHVibGlj.cache
.firebase/hosting.eQ.cache
.firebase/hosting.YXBwUGlsb3Q.cache
.firebase/hosting.YXBwXFBpbG90.cache
.firebase/hosting.ZGlzdC9hcHBQaWxvdA.cache
.firebaserc
angular.json
appPilot/404.html
appPilot/index.html
browserslist
debug.log
e2e/protractor.conf.js
e2e/src/app.e2e-spec.ts
e2e/src/app.po.ts
e2e/tsconfig.json
karma.conf.js
n/404.html
n/index.html
public/404.html
public/index.html
README.md
runbook
.editorconfig
