<app-navbar></app-navbar>
<app-left-bar></app-left-bar>
<app-idle></app-idle>

<div id="page-wrapper" style="min-height: 596px;">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Chat</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <!--<a href="#" target="" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Buy Admin Now</a>-->
                <ol class="breadcrumb">
                    <li><a [routerLink]="['/ticket-home']">Centro de Atención</a></li>
                    <li class="active">Chat</li>
                </ol>
            </div>

        </div>
        <div class="row">
            <div class="panel panel-themecolor">
                <div class="panel-heading">
                    <i class="fa fa-ticket pull-left"></i> Ticket con {{params.nomCli}} &nbsp;&nbsp; [
                    <span class="text-white small">
                        <i class="ti-plus"></i> creado {{params.fCrea | date:'dd/MM/yy H:mm'}} &nbsp;&nbsp;
                        <i class="ti-reload"></i> actualizado {{params.fAct | date:'dd/MM/yy H:mm'}}
                    </span>]
                    <div class="pull-right"> <a [routerLink]="['/ticket-home']" data-perform="panel-dismiss"><i class="ti-close"></i></a> </div>
                </div>
                <app-ticket-chat-talk [chatTalks]='chatTalks' [params]='params'></app-ticket-chat-talk>
                <app-ticket-chat-form [params]='params' [idDoc]='idDoc'></app-ticket-chat-form>
            </div>

        </div>
    </div>
</div>