<div class="col-md-12 col-sm-12 col-lg-5">
    <div class="panel">
        <div class="p-30">
            <div class="row">
                <div class="col-xs-4 col-sm-4">

                    <img *ngIf="empresas.logo==1" src="./assets/images/{{empresas.rut_empresa}}.jpg" class="img-circle img-responsive">
                    <img *ngIf="empresas.logo==0" src="./assets/images/factory.png" class="img-circle img-responsive">

                </div>
                <div class="col-xs-12 col-sm-8">
                    <h2 class="m-b-0">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">{{empresas.razon_social_empresa}}</font>
                        </font>
                    </h2>
                    <h4>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">{{empresas.rut_empresa}}-{{empresas.dv_rut_empresa}}</font>
                        </font>
                    </h4>
                    <h4>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;"><b>{{empresas.codigo_cartera}}</b>-<b>{{empresas.segmento_empresa}}</b></font>
                        </font>
                    </h4>
                    <br><br>
                    <address>
                      <strong><font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Fecha Afiliación: {{empresas.fecha_afiliacion_empresa | date: 'yyyy-MM-dd'}}</font>
                      </font></strong> <br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        Ejecutivo : {{empresas.ejecutivo_empresa}} </font></font><br>
                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        Sucursal: {{empresas.sucursal_empresa}} </font></font><br>
                      <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                            Actividad: {{empresas.actividad_economica}} </font></font><br>
                     </address>
                </div>

            </div>
        </div>
        <hr class="m-t-10" />

        <ul class="dp-table profile-social-icons">
            <li><a href="javascript:void(0)"><i class="fa fa-globe"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-youtube"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</div>