<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <!-- <h3 class="box-title m-b-0">SCORE 651 PTS</h3> -->
                <br>
                <form [formGroup]="testFromGroup" class="form-horizontal" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="col-sm-3">RUT
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="rut">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Nombre </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="nombres">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="example-phone">Telefono: </label>
                        <div class="col-sm-9">
                            <input type="text" id="example-phone" name="example-phone" class="form-control" formControlName="telefono" placeholder="56992167890">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3" for="example-email">Email </label>
                        <div class="col-sm-9">
                            <input type="text" id="example-email" name="example-email" formControlName="email" class="form-control" placeholder="ejemplo@gmail.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3">Estado</label>
                        <div class="col-sm-9">
                            <select class="form-control" formControlName="estado" name="estado">
                                <option [ngValue]="null" disabled>Seleccione el estado</option>
                                <option *ngFor="let estado of estados" [ngValue]="estado">
                                    {{estado}}
                                </option>

                            </select>
                            <div *ngIf="testFromGroup.controls.estado.errors" class="invalid-feedback">
                                <div *ngIf="testFromGroup.controls.estado.errors.required">Campo obligatorio.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="testFromGroup.controls.estado.value == 'Volver a llamar'">
                        <label class="col-sm-3"> Fecha agendamiento</label>
                        <div class="col-sm-9">
                            <div class="col">
                                <div class="col-sm-9">
                                    <input matInput [matDatepicker]="myDatepicker" formControlName="fechaAgendamiento" class="form-control">
                                </div>
                                <div class="col-xs-3">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                </div>
                            </div>
                            <div class="col">
                                <mat-datepicker #myDatepicker></mat-datepicker>
                                <input [ngxTimepicker]="picker" class="form-control" formControlName="horaAgendamiento" placeholder="hh:mm">
                                <ngx-material-timepicker #picker></ngx-material-timepicker>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <textarea class="form-control" rows="3" placeholder="Comentarios..." formControlName="comentarios"></textarea>
                            <div *ngIf="testFromGroup.controls.comentarios.errors" class="invalid-feedback">
                                <div *ngIf="testFromGroup.controls.comentarios.errors.required">Campo obligatorio.</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>