  .cdk-overlay-container {
      z-index: 1051 ! important;
  }

   ::ng-deep .cdk-overlay-container mat-datepicker-content {
      z-index: 1051;
  }

  .mat-datepicker-content {
      z-index: 1051
  }

  .cdk-overlay-container {
      z-index: 1051 !important;
  }

   ::ng-deep .cdk-overlay-container ngx-material-timepicker {
      z-index: 1051;
  }

  .cdk-overlay-container {
      z-index: 1051 !important;
  }
