.white-box {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #e4e5e7;
}

.status-div {
    left: 38%
}

.status-div ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #049CE6;
}

.fa {
    color: #6a6c6f;
    font-size: 14px;
}

.demo-class {
    font-family: open sans;
    color: #606371;
    font-size: 12px;
    font-weight: 400;
}

.img-circle {
    border: 2px solid #edf1f5;
}

.medal {
    position: relative;
    top: -58px;
    left: 93px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

.font-bold {
    font-weight: 600;
}

.m-b-xs {
    margin-bottom: 5px;
}

.text-muted {
    color: #777;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: 600;
    color: #181b30;
    font-family: open sans;
}

.contact-stat {
    padding: 8px 0px;
    text-align: center;
}

.contact-stat span {
    font-size: 10px;
    font-weight: 500;
    font-family: open sans;
    display: block;
    color: #606371;
    text-transform: uppercase;
}

b,
strong {
    font-weight: bold;
    font-family: open sans;
    color: #181b30;
}

.hpanel>.panel-footer,
.hpanel>.panel-section {
    color: inherit;
    border: 1px solid #e4e5e7;
    border-top: none;
    font-size: 90%;
    background: #fafbfb;
    padding: 10px 15px;
}

.panel-footer {
    border-bottom: 1px solid #e4e5e7;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #fafbfb;
}

.hbreadcrumb {
    padding: 2px 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    list-style: none;
    background-color: #fff;
    font-size: 14px;
}

agm-map {
    height: 400px;
}

table,
th {
    font-weight: 600;
    font-size: 11px;
    color: #181b30;
    font-family: open sans;
}

table,
td {
    font-weight: 500;
    font-size: 11px;
    color: #606371;
    font-family: open sans;
}

.modal-title {
    font-weight: 600;
    font-size: 13px;
    color: #181b30;
    font-family: open sans;
}
