<app-navbar></app-navbar>
<app-left-bar></app-left-bar>
<app-idle></app-idle>
<div class="col-sm-12 col-sm-12">
    <div id="page-wrapper">

        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table">
                    <td>
                        <div class="calcTitle">
                            <h1 class="titleSlider">
                                Administración <small class="subTitleSlider">campaña célula</small>
                            </h1>
                            <p>

                            </p>
                        </div>
                    </td>
                </table>
            </div>
            <div class="white-box">
                <div class="row">
                    <div class="col-sm-6 col-sm-6">
                        <label for="inputState">Seleccione Campaña</label>
                        <select id="inputState" name="idcampana" class="form-control" (change)="selectInputCampaign($event.target.value)">
                                      <option disabled value='0' selected>Seleccione Campaña...</option>
                                      <option *ngFor="let campana of campanas" value="{{campana.idcampana}}">

                          {{campana.nombre}}
                        </option>
                                    </select>
                    </div>
                </div>
                <br><br>
                <div *ngIf="selectCampain && user_cla.id_cargo == 6" class="row">
                    <div class="col-sm-12 col-sm-12">
                        <label for="inputState">Colaboradores ==> Supervisores</label>
                        <dual-list [sort]="keepSorted" [source]="sourceSupervisor" [key]="key" [display]="display" [filter]="filter" [(destination)]="confirmedSupervisor" height="200px" [format]="format" [disabled]="disabled" (destinationChange)="echoDestinationSupervisor($event)"></dual-list>
                    </div>
                </div>
                <br><br>
                <div *ngIf="selectCampain" class="row">
                    <div class="col-sm-12 col-sm-12">
                        <label for="inputState">Colaboradores ==> Célula</label>
                        <dual-list [sort]="keepSorted" [source]="sourceCelula" [key]="key" [display]="display" [filter]="filter" [(destination)]="confirmedCelula" height="200px" [format]="format" [disabled]="disabled" (destinationChange)="echoDestinationCelula($event)"></dual-list>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>