html,
body {
    font-family: 'Montserrat';
    font-size: 23px;
    color: #707070;
    background: #ffffff;
}

header,
#intro {
    height: 1200px;
}

#intro {
    background: url(../../../assets/images/back_main.png) no-repeat;
    background-position: 215px -1460px;
}

#contenido {
    height: 1700px;
    background: url(../../../assets/images/contenido.png) no-repeat;
}

@media only screen and (max-width: 1920px) {
    .navbar {
        transition: all 0.4s !important;
    }
    .navbar-nav {
        margin-left: 400px !important;
    }
    .navbar .nav-link {
        color: #707070 !important;
    }
    .navbar .nav-link:hover,
    .navbar .nav-link:focus {
        color: #FF0073 !important;
        text-decoration: none !important;
        border-bottom: 3px solid #FF0073 !important;
    }
    .navbar .navbar-brand {
        color: #707070 !important;
        font-weight: 700 !important;
        font-size: 29px !important;
        margin-left: -240px !important;
    }
    /* Change navbar styling on scroll */
    .navbar.active {
        background: #ffffff !important;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1) !important;
    }
    .navbar.active .nav-link {
        color: #707070 !important;
    }
    .navbar.active .nav-link:hover,
    .navbar.active .nav-link:focus {
        color: #FF0073 !important;
        text-decoration: none !important;
    }
    .navbar.active .navbar-brand {
        color: #707070 !important;
    }
    h2 {
        font-family: 'Montserrat' !important;
        color: #707070 !important;
        font-size: 83px !important;
        font-weight: 300 !important;
        line-height: 70px !important;
    }
    h4 {
        font-family: 'Montserrat' !important;
        color: #707070 !important;
        font-weight: 400 !important;
        font-size: 23px !important;
        line-height: 40px !important;
    }
    .h2-bold {
        font-family: 'Montserrat' !important;
        color: #707070 !important;
        font-weight: 700 !important;
        line-height: 70px !important;
    }
    #myFooter {
        background-color: #3E3E3E !important;
    }
}

@media only screen and (max-width: 1378px) {
    .navbar {
        transition: all 0.4s !important;
    }
    .navbar-nav {
        margin-left: 200px !important;
    }
    .navbar .nav-link {
        color: #707070 !important;
    }
    .navbar .nav-link:hover,
    .navbar .nav-link:focus {
        color: #FF0073 !important;
        text-decoration: none !important;
        border-bottom: 3px solid #FF0073 !important;
    }
    .navbar .navbar-brand {
        color: #707070 !important;
        font-weight: 700 !important;
        font-size: 29px !important;
        margin-left: -40px !important;
    }
    /* Change navbar styling on scroll */
    .navbar.active {
        background: #ffffff !important;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1) !important;
    }
    .navbar.active .nav-link {
        color: #707070 !important;
    }
    .navbar.active .nav-link:hover,
    .navbar.active .nav-link:focus {
        color: #FF0073 !important;
        text-decoration: none !important;
    }
    .navbar.active .navbar-brand {
        color: #707070 !important;
    }
    h2 {
        font-family: 'Montserrat' !important;
        color: #707070 !important;
        font-size: 60px !important;
        font-weight: 300 !important;
        line-height: 70px !important;
    }
    h4 {
        font-family: 'Montserrat' !important;
        color: #707070 !important;
        font-weight: 400 !important;
        font-size: 22px !important;
        line-height: 40px !important;
    }
    .h2-bold {
        font-family: 'Montserrat' !important;
        color: #707070 !important;
        font-weight: 700 !important;
        line-height: 70px !important;
    }
    #myFooter {
        background-color: #3E3E3E !important;
    }
}