<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="panel">
        <div class="sk-chat-widgets">
            <div class="panel panel-themecolor">
                <div class="panel-heading">
                    <i class="fa fa-ticket pull-left"></i> Tickets nuevos ({{countNuevos}})
                    <i class="fa fa-spin fa-refresh pull-right"></i>
                </div>
                <div class="panel-body">
                    <ul class="chatonline">
                        <cdk-virtual-scroll-viewport itemSize="100">

                            <li *cdkVirtualFor="let ticket of ticketNuevos">
                                <span class="sl-date pull-left"><i class="ti-plus"></i>  Creado {{ticket.data.fecha_creacion.toMillis() | date:'dd/MM/yy H:mm'}} &nbsp;&nbsp;  </span>
                                <span class="sl-date pull-right"><i class="ti-reload"></i>  Actualizado {{ticket.data.fecha_actualizacion.toMillis() | date:'dd/MM/yy H:mm'}} &nbsp;&nbsp;  </span>
                                <a [routerLink]="['/ticket-chat-home', ticket.id, ticket.data.rut_ejecutivo, ticket.data.rut_cliente, ticket.data.nombre_ejecutivo, ticket.data.nombre_cliente, ticket.data.fecha_actualizacion.toMillis(), ticket.data.fecha_creacion.toMillis()]" skipLocationChange
                                    (click)="onCambiaEstado(ticket.id, 2)">
                                    <img src="./assets/images/boss.png" alt="user-img" class="img-circle">
                                    <span>{{ticket.data.nombre_cliente}} 
                                        <span><small class="text-success pull-right"><i class="ti-alarm-clock"></i> {{ticket.updateTicket}} &nbsp;&nbsp;  </small></span>
                                    </span>
                                </a>
                                <div class="btn-group m-b-20">
                                    <button type="button" class="btn btn-warning waves-effect" (click)="onCambiaEstado(ticket.id, 2)"><i class="fa fa-clock-o"></i></button>
                                    <button type="button" class="btn btn-default waves-effect" (click)="onCambiaEstado(ticket.id, 3)">Ignorar Ticket</button>
                                    <button type="button" class="btn btn-info waves-effect" [routerLink]="['/ticket-chat-home', ticket.id, ticket.data.rut_ejecutivo, ticket.data.rut_cliente, ticket.data.nombre_ejecutivo, ticket.data.nombre_cliente, ticket.data.fecha_actualizacion.toMillis(), ticket.data.fecha_creacion.toMillis()]"
                                        skipLocationChange (click)="onCambiaEstado(ticket.id, 2)"><i class="fa fa-comment"></i></button>
                                </div>
                                <hr class="m-t-10">
                            </li>
                        </cdk-virtual-scroll-viewport>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>