<app-navbar></app-navbar>
<app-left-bar></app-left-bar>
<app-idle></app-idle>
<div class="col-sm-12 col-sm-12">
    <div id="page-wrapper">

        <div class="container-fluid">
            <div class="table-responsive">
                <table class="table">
                    <td>
                        <div class="calcTitle">
                            <h1 class="titleSlider">
                                Administración <small class="subTitleSlider">campaña sucursal</small>
                            </h1>
                            <p>

                            </p>
                        </div>
                    </td>
                </table>
            </div>
            <div class="white-box">
                <div class="row">
                    <div class="col-sm-6 col-sm-6">
                        <label for="inputState">Seleccione Campaña</label>
                        <select id="inputState" name="idcampana" class="form-control" (change)="selectInputCampaign($event.target.value)">
                                      <option disabled value='0' selected>Seleccione Campaña...</option>
                                      <option *ngFor="let campana of campanas" value="{{campana.idcampana}}">

                          {{campana.nombre}}
                        </option>
                                    </select>
                    </div>
                </div>
                <br><br>
                <div *ngIf="selectCampain" class="row">
                    <div class="col-sm-6 col-sm-6">
                        <label for="inputState">Seleccione Sucursal</label>
                        <select [disabled]="selectDisabled" id="inputState" name="idsucursal" class="form-control" (change)="selectInputSucursal($event.target.value)">
                                      <option *ngIf="!selectDisabled" disabled value='0' selected>Seleccione Sucursal...</option>
                                      <option *ngFor="let sucursal of sucursales" 
                                      value="{{sucursal.idsucursal}}"
                                      >

                          {{sucursal.nombre_sucursal}}
                        </option>
                                    </select>
                    </div>
                </div>
                <br><br>
                <div *ngIf="selectSucursal" class="row">
                    <div class="col-sm-12 col-sm-12">
                        <mat-tab-group>
                            <mat-tab label="Colaboradores Campaña">
                                <br>
                                <dual-list [sort]="keepSorted" [source]="sourceCelula" [key]="key" [display]="display" [filter]="filter" [(destination)]="confirmedCelula" height="200px" [format]="format" [disabled]="disabled" (destinationChange)="echoDestinationCelula($event)"></dual-list>
                                <br>
                                <button class="btn btn-success" (click)="submitColaboradoresCampana()">Confirmar</button>
                            </mat-tab>
                            <mat-tab label="Cambiar Colaborador">
                                <mat-card class="example-container">
                                    <div class="example-header">
                                        <mat-form-field>
                                            <input matInput #filter placeholder="Buscar" (keyup)="applyFilter($event.target.value)">
                                        </mat-form-field>
                                    </div>
                                    <table mat-table #table [dataSource]="dataSource" matSort class="mat-elevation-z8" width="80%" align="center">
                                        <ng-container matColumnDef="idusuario">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> RUT </th>
                                            <td mat-cell *matCellDef="let element">{{ element.rut }} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="nombre">
                                            <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
                                            <td mat-cell *matCellDef="let element"><span style="text-transform: capitalize">
                                                    {{ element.nombres }} {{ element.apellido_paterno }} {{ element.apellido_materno }}</span> </td>
                                        </ng-container>
                                        <ng-container matColumnDef="modifica">
                                            <th mat-header-cell *matHeaderCellDef> CAMBIAR POR </th>
                                            <td mat-cell *matCellDef="let element">

                                                <input type="text" #searchInput placeholder="Buscar..." [formControl]="searchControl" name="buscador" class="form-control" [matAutocomplete]="auto">
                                                <mat-autocomplete #auto="matAutocomplete">
                                                    <mat-option (onSelectionChange)="onEnterSearch($event.source.value, element.rut)" *ngFor="let emp of filteredOptions | async" [value]="emp.rut +'-'+ emp.email">
                                                        <div><small>
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">{{emp?.rut }}
                                                                </font>
                                                            </font>
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">{{ emp?.nombres }}</font>
                                                            </font>
                                                        </small>
                                                        </div>

                                                    </mat-option>
                                                </mat-autocomplete>

                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                    </table>

                                    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                                    </mat-paginator>
                                </mat-card>



                            </mat-tab>

                        </mat-tab-group>

                    </div>
                </div>
            </div>


        </div>

    </div>
</div>