<div class="white-box">
    <div class="row p-t-30">
        <div *ngIf="dummySurvey == undefined">
            <span>No se han realizado encuestas al afiliado.</span>
        </div>
        <div *ngIf="dummySurvey != undefined && _afiliado != undefined">
            <div>
                {{dummySurvey.label}}
            </div>
            <div>
                ULTIMA ENCUESTA {{dummySurvey.surveyDate | date: "yyyy-MM-dd"}}
            </div>
            <button  class="btn btn-info btn-circle  pull-right" type="button" (click)="askSurvey()"><i class="ti-plus"></i></button>
        </div>
    </div>
</div>