<div style="max-height: 850px;">
    <h2 mat-dialog-title>Ingreso usuario externo</h2>
    <mat-dialog-content>
        <form [formGroup]="loginFormGroup" class="container-fluid" (ngSubmit)="submitCredentials()">
            <div class="modal-body">

                <div class="form-group" [ngClass]="{'has-error': loginFormGroup.controls.email.errors && isSubmit}">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="externo@email.com" formControlName="email">
                    <div *ngIf="loginFormGroup.controls.email.errors && isSubmit" class="invalid-feedback">
                        <div *ngIf="loginFormGroup.controls.email.errors.required">Campo obligatorio.</div>
                        <div *ngIf="loginFormGroup.controls.email.errors.email">Formato incorrecto.</div>
                    </div>

                </div>
                <div class="form-group" [ngClass]="{'has-error': loginFormGroup.controls.password.errors &&  isSubmit }">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" placeholder="******" formControlName="password">
                    <div *ngIf="loginFormGroup.controls.password.errors && isSubmit" class="invalid-feedback">
                        <div *ngIf="loginFormGroup.controls.password.errors.required">Campo obligatorio.</div>
                    </div>
                </div>
            </div>
            <label *ngIf="errorMessage"> {{errorMessage}} </label>
            <div class="col-lg-12">
                <button mat-button (click)="onNoClick()">Cancelar</button>
                <button class="btn btn-min btn-success" type="submit">Ingresar</button>
            </div>
        </form>
    </mat-dialog-content>



</div>