<div class="col-sm-6 col-sm-12">
    <div class="white-box">
        <div align="center">
            <img src="./assets/images/boss.png" alt="user-img" class="img-circle" width="60">
            <!--<h6 class="box-title m-b-0">Pepito Perez</h6>-->
            <p class="text-muted font-20"> {{params.nomCli}} </p>
            <br>
        </div>
        <form [formGroup]="updateForm" (ngSubmit)="onSubmit(params.idDoc)">

            <div class="form-group" [ngClass]="{'has-error': updateForm.controls.email.errors && submitted }">
                <label class="col-form-label">Email</label>
                <input type="text" class="form-control" formControlName="email" placeholder="Email">

                <div *ngIf="updateForm.controls.email.errors" class="invalid-feedback error-text">
                    <div *ngIf="updateForm.controls.email.errors.required">Campo obligatorio.</div>
                    <div *ngIf="updateForm.controls.email.errors.email">Formato de correo no válido.</div>
                </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': updateForm.controls.numero_cliente.errors && submitted }">
                <label class="col-form-label">Número cliente</label>
                <input type="text" formControlName="numero_cliente" class="form-control" id="numero_cliente" name="numero_cliente" placeholder="Número de cliente">
                <div *ngIf="updateForm.controls.numero_cliente.errors" class="invalid-feedback">
                    <div *ngIf="updateForm.controls.numero_cliente.errors.required">Campo obligatorio.</div>
                </div>
            </div>

            <div class="form-group" [ngClass]="{'has-error': updateForm.controls.rut.errors && submitted }">
                <label class="col-form-label">RUT</label>
                <input type="text" formControlName="rut" class="form-control" id="rut" name="rut" placeholder="RUT">
                <div *ngIf="updateForm.controls.rut.errors" class="invalid-feedback">
                    <div *ngIf="updateForm.controls.rut.errors.required">Campo obligatorio.</div>
                </div>
            </div>

            <!--<div class="form-group" [ngClass]="{'has-error': updateForm.controls.gen.errors && submitted}">
                <select class="form-control" [ngClass]="{'is-invalid': submitted && updateForm.controls.gen.errors}" formControlName="genero" name="genero">
                    <option value='' selected>Seleccione género...</option>
                    <option *ngFor="let gen of generoSelect" value="{{gen.genero}}" [attr.selected]="gen.genero==selected ? true : null">{{gen.name}}</option>
                </select>
                <div *ngIf="submitted && updateForm.controls.gen.errors" class="invalid-feedback">
                    <div *ngIf="submitted && updateForm.controls.gen.errors.required">Campo obligatorio.</div>
                </div>
            </div>-->

            <div class="form-group" [ngClass]="{'has-error': updateForm.controls.telefono.errors && submitted }">
                <label class="col-form-label">Teléfono</label>
                <input type="text" formControlName="telefono" class="form-control" id="telefono" name="telefono" placeholder="Teléfono">
                <div *ngIf="updateForm.controls.telefono.errors" class="invalid-feedback">
                    <div *ngIf="updateForm.controls.telefono.errors.required">Campo obligatorio.</div>
                    <div *ngIf="updateForm.get('telefono').hasError('pattern')">
                        Solo números y largo máximo 10.
                    </div>
                </div>
            </div>

            <div class="form-group" [ngClass]="{'has-error': updateForm.controls.direccion.errors && submitted }">
                <label class="col-form-label">Dirección</label>
                <input type="text" formControlName="direccion" class="form-control" id="direccion" name="direccion" placeholder="Dirección">
                <div *ngIf="updateForm.controls.direccion.errors" class="invalid-feedback">
                    <div *ngIf="updateForm.controls.direccion.errors.required">Campo obligatorio.</div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-form-label">Comentarios</label>
                <textarea class="form-control" formControlName="comentarios" rows="4" cols="100" id="comentarios" name="comentarios" placeholder="Comentarios" style="width: 100%"></textarea>
            </div>

            <div class="form-group">
                <button class="btn btn-success waves-effect waves-light m-r-10" type="submit">Guardar</button>
            </div>

        </form>

    </div>
</div>