<app-navbar></app-navbar>
<app-left-bar></app-left-bar>
<app-idle></app-idle>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Resultado de la transaccion</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li class="active">{{ hoy | date :'fullDate'}}</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box" *ngIf="resultado">
                    <table width="80%">
                        <tr>
                            <td>Fecha Pago:</td>
                            <td>{{ resultado.payment_date}}</td>
                        </tr>

                        <tr>
                            <td>Transaccion:</td>
                            <td>{{ resultado.flow_order}}</td>
                        </tr>


                        <tr>
                            <td>Rut:</td>
                            <td>{{ resultado.rut}}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{ resultado.payer}}</td>
                        </tr>
                        <tr>
                            <td>Tipo:</td>
                            <td>{{ resultado.subject}}</td>
                        </tr>
                        <tr>
                            <td>Monto:</td>
                            <td>${{ resultado.payment_amount}}</td>
                        </tr>
                        <tr>
                            <td>Estado:</td>
                            <td>
                                <span *ngIf="resultado.status==2"><b> Pago realizado con éxito</b></span>
                                <span *ngIf="resultado.status==3"><b> Pago rechazado</b></span>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>