<app-navbar></app-navbar>
<app-left-bar></app-left-bar>
<app-idle></app-idle>
<div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div c class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">QUIZ CLA</div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                
                      <p>Estimado,</p>
                  <p> Por favor ayudanos a ayudarte!</p>
                   <p>Estamos en la búsqueda de mecanismos que nos permitan orientarte y brindarte una mejor experiencia en la atencion que mereces, en torno a la necesidad que puedas tener en este momento.</p>
                   <p>
                   Por tal razón te pedimos y agradecemos tu participación en lograr la completitud del siguiente Quiz. Atraves del cual podemos orientatrte en cuanto al canal de atención que debes aucdir para una pronta y efectiva respuesta segun tu caso
                   </p>
                   <p>Gracias por participar!!
                   </p>
                   <hr>

                   <div class="radio radio-info">
                    <input type="radio" name="radio5" id="radio15" value="option5" checked="">
                    <label for="radio15"> ¿Necesitas un nuevo Crédito Social? </label>
                    </div>
                    <div class="radio radio-info">
                      <input type="radio" name="radio5" id="radio15" value="option5">
                      <label for="radio15"> ¿Necesitas alivianar tu carga financiera que hoy tienes con Caja los Andes?
                      </label>
                      </div>
                      <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-12">RUT</label>
                            <div class=" col-lg-2 col-md-12">
                                <input type="text" class="form-control" value="" placeholder="Ingrese su RUT"> </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" for="example-email">Email </label>

                            <div class="col-lg-2 col-md-12">
                                <input type="email" id="example-email" name="example-email" class="form-control" placeholder="Ingrese suEmail"> </div>
                        </div>
                        <div class="form-group">
                          <div class="col-lg-2 col-sm-4 col-xs-12">
                            <button class="btn btn-block btn-info btn-rounded">Siguiente</button>
                        </div>
                        </div>
                    </form>
                    </div>
                  </div>
                 
          
           
        </div>
  


        </div>
      </div>
    </div>
</div>