<app-navbar></app-navbar>
<app-left-bar></app-left-bar>
<app-idle></app-idle>

<div id="page-wrapper" style="min-height: 596px;">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Centro de Atención</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="javascript:void(0)">Centro de Atención</a></li>
                </ol>
            </div>

        </div>
        <div class="row">

            <app-ticket-nuevos [ticketNuevos]='ticketNuevos' [countNuevos]="countNuevos"></app-ticket-nuevos>
            <app-ticket-terminados [ticketTermnados]='ticketTermnados' [countTerminados]="countTerminados"></app-ticket-terminados>
            <app-ticket-espera [ticketEnEspera]='ticketEnEspera' [countEspera]="countEspera"></app-ticket-espera>


        </div>
    </div>
</div>