<div id="carouselMarketing" class="carousel slide" data-ride="carousel" *ngIf="_images.length > 0" style="border-radius: 10px 10px 10px 10px;">
    <ul class="carousel-indicators">
        <li data-target="#carouselMarketing" data-slide-to="0" class="active"></li>
        <li data-target="#carouselMarketing" data-slide-to="1"></li>
        <li data-target="#carouselMarketing" data-slide-to="2"></li>
    </ul>
    <div role="listbox" class="carousel-inner">
        <div class="item" *ngFor="let imagen of _images" [ngClass]="{'active':imagen.activo==true}">
            <div class="text-center">
                <a href="{{imagen.url}}" target="_blank"><img src="./assets/images/{{imagen.nombre}}" width="100%" alt="Prueba"></a>
            </div>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#carouselMarketing" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carouselMarketing" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>

</div>
