<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header text-center">
            <h4 class="modal-title text-center">Asegurar vehí­culo Modelo <strong>{{autoFull?.modelo_auto}}</strong></h4>
            <h6 class="modal-title text-center">UF Calculada al {{ufData.fecha}} (${{ufData.valor}}) </h6>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="row text-center">
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <div class="panel">

                                <div class="col-lg-3">
                                    <div class="priceboxnormal">
                                        <div class="topazulpricebox">
                                            <div class="text-top-pbox-vis">
                                                NO PAGA DEDUCIBLE
                                            </div>

                                        </div>
                                        <div class="precios-pbox">
                                            <div class="precioazulgr">${{((autoFull?.deducible_0)*(ufData.valor)) | number:'1.0-0':'es'}}</div>
                                            <div class="txtbajadaufpbox">12 Cuotas {{(autoFull?.deducible_0) | number:'1.0-2':'es'}} UF mensuales </div>
                                            <div class="txtprimaanualpbox">Prima anual {{(autoFull?.deducible_0*12 | number:'1.0-2':'es')}} UF</div>
                                        </div>
                                        <div class="div-deduciblepboxnorm">
                                            <div class="txtdeduciblepbox">Deducible</div>
                                            <div class="valordeduciblepbox">0 UF
                                            </div>
                                        </div>

                                    </div>


                                </div>


                                <div class="col-lg-3">
                                    <div class="priceboxnormal">
                                        <div class="topazulpricebox">
                                            <div class="text-top-pbox-vis">
                                                DEDUCIBLE 3 UF
                                            </div>

                                        </div>
                                        <div class="precios-pbox">
                                            <div class="precioazulgr">${{((autoFull?.deducible_3)*(ufData.valor)) | number:'1.0-0':'es'}}</div>
                                            <div class="txtbajadaufpbox">12 Cuotas {{(autoFull?.deducible_3) | number:'1.0-2':'es'}} UF mensuales </div>
                                            <div class="txtprimaanualpbox">Prima anual {{(autoFull?.deducible_3*12 | number:'1.0-2':'es')}} UF</div>
                                        </div>
                                        <div class="div-deduciblepboxnorm">
                                            <div class="txtdeduciblepbox">Deducible</div>
                                            <div class="valordeduciblepbox">3 UF
                                            </div>
                                        </div>

                                    </div>


                                </div>
                                <div class="col-lg-3">
                                    <div class="pricebox1 animated bounceInLeft">
                                        <div class="topazulpricebox">
                                            <div class="text-top-pbox-vis">
                                                DEDUCIBLE 5 UF
                                            </div>

                                        </div>
                                        <div class="precios-pbox">
                                            <div class="precioazulgr">${{((autoFull?.deducible_5)*(ufData.valor)) | number:'1.0-0':'es'}}</div>
                                            <div class="txtbajadaufpbox">12 Cuotas {{(autoFull?.deducible_5) | number:'1.0-2':'es'}} UF mensuales </div>
                                            <div class="txtprimaanualpbox">Prima anual {{(autoFull?.deducible_5*12 | number:'1.0-2':'es')}} UF</div>
                                        </div>
                                        <div class="div-deduciblepbox">
                                            <div class="txtdeduciblepbox">Deducible</div>
                                            <div class="valordeduciblepbox">5 UF
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-lg-3">

                                    <div class="priceboxnormal">
                                        <div class="topazulpricebox">
                                            <div class="text-top-pbox-vis">
                                                DEDUCIBLE 10 UF
                                            </div>
                                        </div>
                                        <div class="precios-pbox">
                                            <div class="precioazulgr">${{((autoFull?.deducible_10)*(ufData.valor)) | number:'1.0-0':'es'}}</div>
                                            <div class="txtbajadaufpbox">12 Cuotas {{(autoFull?.deducible_10) | number:'1.0-2':'es'}} UF mensuales </div>
                                            <div class="txtprimaanualpbox">Prima anual {{(autoFull?.deducible_10*12 | number:'1.0-2':'es')}} UF</div>
                                        </div>
                                        <div class="div-deduciblepboxnorm">
                                            <div class="txtdeduciblepbox">Deducible</div>
                                            <div class="valordeduciblepbox">10 UF
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <div class="panel">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>
                                                <strong>CONTINUAR OFERTA</strong>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="viewOptionOferta">
                                        <tr>
                                            <td>
                                                <a class="btn btn-info btn-xs" href="https://auto.bnpparibascardif.cl/ventaonlineweb/?utm_source=ceocrm&utm_medium=sucursales" target="_blank" (click)="clickHrefCardif()">Gestionar Venta</a>

                                            </td>
                                            <td>
                                                <mat-radio-group aria-label="Select an option" [(ngModel)]="accion">
                                                    <mat-radio-button value="1">Que me llamen &nbsp;&nbsp;</mat-radio-button>
                                                    <mat-radio-button value="2">Continuo en la Web &nbsp;&nbsp;</mat-radio-button>
                                                    <mat-radio-button value="3">No me interesa &nbsp;&nbsp;</mat-radio-button>
                                                </mat-radio-group>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table *ngIf="viewsucursal" class="table">
                                    <tbody>
                                        <tr>

                                            <td>
                                                <label class="col-sm-3 control-label">Confirme Sucursal de Venta</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" placeholder="Buscar..." list="sucursales" name="country" [(ngModel)]='selected' />
                                                    <datalist id="sucursales">
                                                    <select size="5"  style="height: 100px;" >
                                                        <option *ngFor="let s of sucursales" [value]="s.sucursal"></option>
                                                    </select>
                                                 </datalist>
                                                </div>

                                                <div class="col-sm-8">
                                                    <br>
                                                    <button class="btn btn-success pull-right" type="submit" (click)="paso2()">Confirmar</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table *ngIf="viewOptionOferta" class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <form *ngIf="accion == '1'" [formGroup]="fonoFormGroup" (ngSubmit)="onSubmitFono()">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <div class="col-lg-2">
                                                                    <label for="example-phone">Teléfono: </label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <input type="text" id="example-phone" name="example-phone" class="form-control" formControlName="telefono" placeholder="56992167890">
                                                                    <div *ngIf="fonoFormGroup.controls.telefono.errors" class="invalid-feedback">
                                                                        <div *ngIf="fonoFormGroup.controls.telefono.errors.required">Campo obligatorio.</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <div class="form-group m-b-0">
                                                                <button type="submit" class="btn btn-success pull-right">Guardar</button>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </form>

                                            </td>
                                            <td>
                                                <form *ngIf="accion == '2'" [formGroup]="webFormGroup" (ngSubmit)="onSubmitWeb()">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <div class="col-lg-2">
                                                                    <label for="example-phone">Ingresar Email: </label>
                                                                </div>

                                                                <div class="col-lg-6">
                                                                    <input type="text" id="example-phone" name="example-phone" class="form-control" formControlName="email">
                                                                    <div *ngIf="webFormGroup.controls.email.errors" class="invalid-feedback">
                                                                        <div *ngIf="webFormGroup.controls.email.errors.required">Campo obligatorio.</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <div class="form-group m-b-0">
                                                                <button type="submit" class="btn btn-success pull-right">Guardar</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </td>

                                            <td>
                                                <form *ngIf="accion == '3'" [formGroup]="interesFormGroup" (ngSubmit)="onSubmitInteres()">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <div class="col-lg-2">
                                                                    <label for="example-phone">Elija Opción: </label>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <select class="form-control" formControlName="option" name="option">
                                                                <option value="" [selected] = "true" [disabled]="true">Seleccione opción...</option>
                                    <option *ngFor="let option of options" [ngValue]="option.option">{{option.name}}
                                    </option>
                                    <div *ngIf="interesFormGroup.controls.option.errors" class="invalid-feedback">
                                        <div *ngIf="interesFormGroup.controls.option.errors.required">Campo obligatorio.</div>
                                    </div>
                            </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <div class="form-group m-b-0">
                                                                <button type="submit" class="btn btn-success pull-right">Guardar</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="modal-footer">
            <button #closebuttonAutoFull (click)="closeModaAutoFull()" type="button" class="swal2-cancel swal2-styled" style="display: inline-block; background-color: rgb(255, 67, 55);" data-dismiss="modal">Cancelar</button>
        </div>
    </div>