::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    /*click effect color change*/
    background-color: #1e88e5 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #1e88e5!important;
    /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #1e88e5!important;
    /*outer ring color change*/
}