  .cdk-overlay-container {
      z-index: 1051 ! important;
  }

   ::ng-deep .cdk-overlay-container mat-datepicker-content {
      z-index: 1051;
  }

  .mat-datepicker-content {
      z-index: 1051
  }

  .cdk-overlay-container {
      z-index: 1051 !important;
  }

   ::ng-deep .cdk-overlay-container ngx-material-timepicker {
      z-index: 1051;
  }

  .cdk-overlay-container {
      z-index: 1051 !important;
  }

  .form-box.open {
    transform: translate(10px, 10px);
    height: 60%;
    width: 50%;
    opacity: 1;
    overflow: scroll;
    z-index: 50 !important;
}
