<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/images/logo.svg" width="50" height="50" class="d-inline-block align-top" alt="">
                <span class="hidden-xs hidden-sm" style="padding-left:5px;">
                   
                    cambiatedebanco.cl</span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#etapas">ETAPAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portabilidad">LEY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contacto">Contáctenos</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!--Navbar-->

    <!--/.Navbar-->
    <div id="intro" class="view">
        <div class="full-bg-img">

            <div class="row">
                <div class="col-lg-5 top-head">
                    <div class="title">
                        <h2>
                            Cámbiate de <br><span class="h2-bold">banco ahora</span>
                        </h2>
                        <h4>
                            En solo tres simples pasos podrás pagar menos, ingresa tu deuda, elije en que bancos quieres cotizar y proporciona tus datos para que te contacten.
                        </h4>
                    </div>
                </div>
                <div class="col-lg-7 padding-stepper top-stepper">

                    <div class="col-lg-12 col-md-12">
                        <mat-horizontal-stepper linear #stepper>
                            <mat-step [completed]="isPaso1_completado" [editable]="editable" label="1">
                                <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmitPaso1(stepper)">
                                    <div class="row px-5" style="height: 550px;">
                                        <div class="row align-items-start">
                                            <ng-template matStepLabel>Ingresa tu deuda</ng-template>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>En que banco tiene la deuda?</mat-label>
                                                <mat-select formControlName="bancos">
                                                    <mat-option *ngFor="let lC of bancos" [value]="lC.idbanco">{{lC.nombre}}</mat-option>

                                                </mat-select>
                                            </mat-form-field>
                                            <br>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Ingrese el monto total de la deuda(Hipotecario y/o crédito de consumo)</mat-label>
                                                <input matInput type="text" matInputCommified formControlName="deuda" placeholder="" required>
                                            </mat-form-field>


                                            <div class="row">
                                                <div class="col-12">
                                                    <h2 class="example-h2 m-t-30">Que productos desea portar?</h2>
                                                </div>
                                                <div class="col-12 m-r-5">
                                                    <mat-checkbox formControlName='chkhipoteca' value=1 class="example-margin">
                                                        <font size="3">Hipoteca</font>
                                                    </mat-checkbox>
                                                    <mat-checkbox formControlName='chkcredito' value=1 class="example-margin">
                                                        <font size="3">Consumo</font>
                                                    </mat-checkbox>
                                                    <mat-checkbox formControlName='chktarjeta' value=1 class="example-margin">
                                                        <font size="3">Otros</font>
                                                    </mat-checkbox>
                                                </div>

                                            </div>

                                            <div class="example-button-row m-t-30">
                                                <h2 class="example-h2">Suba el certificado de liquidación que le entrego su banco</h2>
                                                <button mat-raised-button color="primary" (click)="archivo.click()">
                                                    Subir Certificado
                                                      <input #archivo formControlName="archivo" type="file" accept="application/pdf" (change)="cambioArchivo($event)" style="display:none;" />
                                                </button>






                                            </div>
                                        </div>
                                        <div class="row align-items-end justify-content-between" style="width:100%;">
                                            <div class="col-6">

                                            </div>

                                            <div class="col-6" style="text-align:right">
                                                <button mat-raised-button matStepperNext color="accent">Siguiente</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </mat-step>
                            <mat-step [completed]="isPaso2_completado" [editable]="editable" label="Elige Bancos">

                                <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmitPaso2(stepper)">
                                    <div class="row px-5" style="height: 550px;">
                                        <div class="row align-items-start">

                                            <h2 class="example-h2">Debes seleccionar el o los bancos donde deseas cotizar tu portabilidad financiera </h2>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>En que bancos desea cotizar?</mat-label>
                                                <mat-select formControlName="sBancos" multiple>
                                                    <mat-option *ngFor="let lC of bancos2" [value]="lC.idbanco">{{lC.nombre}}</mat-option>

                                                </mat-select>
                                            </mat-form-field>




                                        </div>

                                        <div class="row align-items-end justify-content-between" style="width:100%;">
                                            <div class="col-6" style="text-align:left">
                                                <button mat-raised-button matStepperPrevious color="warn">Atras</button>
                                            </div>

                                            <div class="col-6" style="text-align:right">
                                                <button mat-raised-button matStepperNext color="accent">Siguiente</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </mat-step>
                            <mat-step [completed]="isPaso3_completado" [editable]="editable" label="Datos contacto">

                                <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmitPaso3(stepper)">
                                    <div class="row px-5" style="height: 550px;">
                                        <div class="row align-items-start">
                                            <h2 class="example-h2">Para poder entregarle toda la información necesitamos que complete sus datos personales: </h2>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Rut</mat-label>
                                                <input matInput formControlName="rut" placeholder="Ingrese Rut con guión y digito verificador">
                                                <mat-error *ngIf="
                                                thirdFormGroup.get('rut').hasError('validaRut')
                                                &&!thirdFormGroup.get('rut').hasError('required')">
                                                    Ingrese un RUT Válido (1111111-1)
                                                </mat-error>
                                                <mat-error *ngIf="thirdFormGroup.get('rut').hasError('required')">
                                                    RUT es <strong>obligatorio</strong>
                                                </mat-error>
                                                <mat-error *ngIf="thirdFormGroup.get('rut').hasError('minlength')">
                                                    RUT es <strong>obligatorio</strong>
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Nombre</mat-label>
                                                <input matInput formControlName="nombre" placeholder="Ingrese Nombre">
                                                <mat-error *ngIf="thirdFormGroup.get('nombre').hasError('required')">
                                                    Nombre es <strong>obligatorio</strong>
                                                </mat-error>
                                                <mat-error *ngIf="thirdFormGroup.get('nombre').hasError('minlength')">
                                                    Nombre es <strong>obligatorio</strong>
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Telefono</mat-label>
                                                <input matInput formControlName="telefono" placeholder="Ingrese Telefono">
                                                <mat-error *ngIf="thirdFormGroup.get('telefono').hasError('required')">
                                                    Teléfono es <strong>obligatorio</strong>
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Email</mat-label>
                                                <input matInput pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)+$" formControlName="email" placeholder="Ingrese Email" required>
                                                <mat-error *ngIf="
                                                thirdFormGroup.get('email').hasError('email')
                                                &&!thirdFormGroup.get('email').hasError('required')">
                                                    Ingrese un Email Válido
                                                </mat-error>
                                                <mat-error *ngIf="thirdFormGroup.get('email').hasError('required')">
                                                    Email es <strong>obligatorio</strong>
                                                </mat-error>


                                            </mat-form-field>

                                            <div class="row m-t-20">

                                                <div class="tablagen">
                                                    <div class="fila">
                                                        <div class="col-chk">
                                                            <mat-checkbox formControlName='chktermino' value=1 class="chkTermino" required>
                                                            </mat-checkbox>
                                                        </div>
                                                        <div class="col-ter">
                                                            <font size=1>

                                                                Al continuar, acepto los Términos de uso de cambiatedebanco.cl y reconozco que leí la Política de privacidad. También acepto que cambiatedebanco.cl o sus representantes pueden ponerse en contacto conmigo por correo electrónico, teléfono o SMS (incluidos
                                                                medios automatizados) a la dirección de correo electrónico o al número que yo indique, incluso, para fines de publicidad.

                                                            </font>
                                                        </div>

                                                    </div>

                                                </div>





                                            </div>


                                        </div>


                                        <div class="row align-items-end justify-content-between" style="width:100%;">
                                            <div class="col-6 " style="text-align:left">
                                                <button mat-raised-button matStepperPrevious color="warn">Atras</button>
                                            </div>

                                            <div class="col-6" style="text-align:right">
                                                <button mat-raised-button matStepperNext color="accent">Siguiente</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </mat-step>
                            <mat-step [completed]="isPaso4_completado" label="Listo">

                                <div class="col-12">
                                    <h2 class="example-h2"> ¡Gracias! </h2>
                                    <h4>Hemos enviado toda la información a los bancos que haz elegido, pronto ellos se contactarán contigo. Recuerda estar atento a tu celular y/o tu correo electrónico.
                                    </h4>
                                </div>

                                <div class="col-12">
                                    <img src="../../../assets/images/envio_ok.gif" class="img-responsive center-block">

                                </div>

                            </mat-step>
                        </mat-horizontal-stepper>


                    </div>
                    <div class="col-lg-12">

                        <img src="../../../assets/images/bancos.png" class="width-bancos">
                    </div>


                </div>
            </div>
        </div>

    </div>

</header>
<a id="etapas"></a>
<main>
    <!--/.Navbar-->
    <div class="gridContainer">
        <div class="row text-center" style="margin-top:100px;">
            <div class="col-12">
                <h3>
                    Etapas de la <span class="h2-bold">Portabilidad</span>
                </h3>
            </div>

        </div>
        <div data-type="row" class="row spaced-cols text-center p-30">
            <div class="col-xs-12 col-sm-4 p-r-30 ">
                <div data-type="column" class="">
                    <h2 class="example-h2">Solicitud</h2>
                    <img src="../../../assets/images/step_1.png">
                    <h4>Dirígete a tu banco y solicita el certificado de liquidación, con toda la información de todos tus productos financieros vigentes.
                    </h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 p-r-30">
                <div data-type="column" class="">
                    <h2 class="example-h2">Sube Certificado</h2>
                    <img src="../../../assets/images/step_2.png">
                    <h4>Sube el certificado de liquidación a nuestra plataforma, más los productos que deseas portar, para que los ejecutivos de los distintos bancos te puedan evaluar
                    </h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 p-r-30">
                <div data-type="column" class="">
                    <h2 class="example-h2">Mejor Oferta</h2>
                    <img src="../../../assets/images/step_3.png">
                    <h4>Los bancos que elegiste para cotizar te contactarán para entregarte una mejor oferta de tu crédito.
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <h3>
                &nbsp;
            </h3>
        </div>

    </div>
    <a id="portabilidad"></a>

    <div id="contenido" class="view">
        <div class="full-bg-img">

            <div class="row" style="margin-top:100px;">
                <div class="offset-md-6 col-lg-6">
                    <h3> Ley de portabilidad <br><span class="h2-bold">financiera</span>
                    </h3>
                    <h4>
                        La ley sobre la portabilidad financiera busca facilitar a las personas que tienen cuentas de ahorro, cuentas vistas, chequeras electrónicas, líneas de crédito, tarjetas de crédito y débito, créditos hipotecarios, de consumo, automotrices, entre otros,
                        solicitar el cambio de institución financiera, siguiendo un modelo similar al utilizado en la portabilidad numérica de la telefonía móvil. <br><br>Con la portabilidad financiera, aumentará la competencia
                        en el mercado, y se reducirán los costos y el tiempo que tarda el trámite de cambio de institución. Todo lo anterior permitirá que las personas accedan a servicios y productos financieros en mejores condiciones.
                    </h4>
                </div>
            </div>

            <a id="contacto"></a>

            <div class="row">
                <h3 style="margin-top:200px;margin-left:100px;">
                    Contáctenos
                </h3>
            </div>
            <div class="row">

                <div style="width: 900px; margin-top:100px; padding:30px;background-color:rgba(255, 255, 255, 0.5);text-align:center; margin:0 auto;padding-top:10px; padding-bottom:50px;border-radius: 20px;">
                    <div class="col-12" *ngIf="showForm">
                        <form [formGroup]="contactoFormGroup" (ngSubmit)="onSubmitContacto()">
                            <h4>Si desea más información no dude en contactarnos. Puede rellenar el siguiente formulario:</h4><br>
                            <mat-form-field class="example-full-width">
                                <mat-label>Ingrese Nombre</mat-label>
                                <input matInput type="text" formControlName="nombre" placeholder="" required>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>Ingrese Teléfono</mat-label>
                                <input matInput type="text" formControlName="telefono" placeholder="" required>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <mat-label>Ingrese Email</mat-label>
                                <input matInput type="text" formControlName="email" placeholder="" required>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <textarea matInput placeholder="Comentarios" formControlName="comentarios">
                         </textarea>
                            </mat-form-field>
                            <br><br><br>
                            <div class="col-12" style="text-align:right">
                                <button mat-raised-button color="accent">Enviar</button>
                            </div>


                        </form>



                    </div>

                    <div class="col-12" *ngIf="!showForm">
                        <h4><br><br><br> Procesaremos la consulta, en breve nos contactaremos con usted. <br><br>
                            <img src="../../../assets/images/note.png" width="200">
                            <br><b>¡Gracias!</b>

                            <br><br> el equipo cambiatedebanco.cl
                        </h4>



                    </div>

                </div>



            </div>


        </div>
    </div>



</main>

<footer id="myFooter" class="pt-md-5">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="../../../assets/images/alogo.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">© 2020</small>
        </div>
        <div class="col-6 col-md">
            <h5>Mapa del Sitio</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Home</a></li>
                <li><a class="text-muted" href="#">Portabilidad Financiera</a></li>
                <li><a class="text-muted" href="#">Contáctenos</a></li>
                <li><a class="text-muted" href="#" [routerLink]="['/login']" target="_blank">Acceso Ejecutivos</a></li>

            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Ayuda</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Preguntas Frecuentes</a></li>
                <li><a class="text-muted" href="#">Privacidad</a></li>
                <li><a class="text-muted" href="#">Términos y Condiciones</a></li>

            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Contactos</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
    <div class="row" style="background-color:black;">
        <div class="col-lg-12 d-flex justify-content-center">
            <font color="white">© 2020 cambiatedebanco.cl</font>
        </div>


    </div>
</footer>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>