<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="white-box" style="border-top: 2px solid #00bd70;">
        <h3 class="box-title">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Beneficios Sociales </font>
            </font>
        </h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">
                        <h5>Salud</h5>
                    </th>
                    <th class="text-center">
                        <h5>Educación</h5>
                    </th>
                    <th class="text-center">
                        <h5>Apoyo Social</h5>
                    </th>
                    <th class="text-center">
                        <h5>Entretencion</h5>
                    </th>
                    <th class="text-center">
                        <h5>Total</h5>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">
                        <h5>Penetración</h5>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='SALUD'">{{ usobbsss.data.penetracion_bbss | percent}}</h4>
                        </ng-container>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='EDUCACIÓN'">{{ usobbsss.data.penetracion_bbss | percent}}</h4>
                        </ng-container>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='APOYO SOCIAL'">{{ usobbsss.data.penetracion_bbss | percent}}</h4>
                        </ng-container>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='PANORAMAS Y ENTRETENCIÓN'">{{ usobbsss.data.penetracion_bbss | percent}}</h4>
                        </ng-container>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='TOTAL'">{{ usobbsss.data.penetracion_bbss | percent}}</h4>
                        </ng-container>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <h5>monto Percibido</h5>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='SALUD' && usobbsss.data.monto>=1000000">${{ usobbsss.data.monto/1000000 | number:'1.0-0':'es'}}MM</h4>
                            <h4 *ngIf="usobbsss.data.clasificacion=='SALUD' && usobbsss.data.monto<1000000">${{ usobbsss.data.monto | number:'1.0-0':'es'}}</h4>
                        </ng-container>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='EDUCACIÓN' && usobbsss.data.monto>=1000000">${{ usobbsss.data.monto/1000000 | number:'1.0-0':'es'}}MM</h4>
                            <h4 *ngIf="usobbsss.data.clasificacion=='EDUCACIÓN' && usobbsss.data.monto<1000000">${{ usobbsss.data.monto | number:'1.0-0':'es'}}</h4>

                        </ng-container>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='APOYO SOCIAL' && usobbsss.data.monto>=1000000">${{ usobbsss.data.monto/1000000 | number:'1.0-0':'es'}}MM</h4>
                            <h4 *ngIf="usobbsss.data.clasificacion=='APOYO SOCIAL' && usobbsss.data.monto<1000000">${{ usobbsss.data.monto | number:'1.0-0':'es'}}</h4>
                        </ng-container>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='PANORAMAS Y ENTRETENCIÓN' && usobbsss.data.monto>=1000000">${{ usobbsss.data.monto/1000000 | number:'1.0-0':'es'}}MM</h4>
                            <h4 *ngIf="usobbsss.data.clasificacion=='PANORAMAS Y ENTRETENCIÓN' && usobbsss.data.monto<1000000">${{ usobbsss.data.monto | number:'1.0-0':'es'}}</h4>
                        </ng-container>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='TOTAL' && usobbsss.data.monto>=1000000 ">${{ usobbsss.data.monto/1000000 | number:'1.0-0':'es'}}MM</h4>
                            <h4 *ngIf="usobbsss.data.clasificacion=='TOTAL' && usobbsss.data.monto<1000000 ">${{ usobbsss.data.monto | number:'1.0-0':'es'}}</h4>
                        </ng-container>
                    </td>

                </tr>
                <tr>
                    <td align="center">
                        <h5>N° Usuarios</h5>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='SALUD'">{{ usobbsss.data.rut_unicos | number:'1.0-0':'es'}}</h4>
                        </ng-container>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='EDUCACIÓN'">{{ usobbsss.data.rut_unicos | number:'1.0-0':'es'}}</h4>
                        </ng-container>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='APOYO SOCIAL'">{{ usobbsss.data.rut_unicos | number:'1.0-0':'es'}}</h4>
                        </ng-container>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='PANORAMAS Y ENTRETENCIÓN'">{{ usobbsss.data.rut_unicos | number:'1.0-0':'es'}}</h4>
                        </ng-container>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='TOTAL'">{{ usobbsss.data.rut_unicos | number:'1.0-0':'es'}}</h4>
                        </ng-container>
                    </td>

                </tr>
                <tr>
                    <td align="center">
                        <h5>monto Por Usuario</h5>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='SALUD'">${{ usobbsss.data.monto / usobbsss.data.rut_unicos | number:'1.0-0':'es'}}</h4>
                        </ng-container>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='EDUCACIÓN'">${{ usobbsss.data.monto / usobbsss.data.rut_unicos | number:'1.0-0':'es'}}</h4>
                        </ng-container>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='APOYO SOCIAL'">${{ usobbsss.data.monto / usobbsss.data.rut_unicos | number:'1.0-0':'es'}}</h4>
                        </ng-container>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='PANORAMAS Y ENTRETENCIÓN'">${{ usobbsss.data.monto / usobbsss.data.rut_unicos | number:'1.0-0':'es'}}</h4>
                        </ng-container>
                    </td>
                    <td align="center">
                        <ng-container *ngFor="let usobbsss of usoBBSS">
                            <h4 *ngIf="usobbsss.data.clasificacion=='TOTAL'">${{ usobbsss.data.monto / usobbsss.data.rut_unicos | number:'1.0-0':'es'}}</h4>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>