<ul class="col-in">
    <li>
        <span class="circle circle-md bg-kpi"> <i class="fa fa-dollar fa-4x"></i></span>
    </li>
    <li class="col-last">
        <h4 class="counter text-right m-t-15">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">
                    <div>
                        <span class="text-left text-info text pull-left">Total</span>&nbsp; ${{empresas.aprobada_stock / 1000000 | number:'1.0-0'}} MM
                    </div>
                </font>
            </font>
        </h4>
        <ng-container *ngIf="empresas.aprobada_stock > 0 && ofertaCredDig.monto > 0">
            <hr class="m-t-10">
            <h5>
                <div>
                    <span class="text-left text-info text pull-left">Cr. Dig</span> <span class="text-right pull-right">${{ofertaCredDig.monto / 1000000 | number:'1.0-0'}} MM</span>
                </div>
            </h5>
        </ng-container>

    </li>
    <li class="col-middle">
        <h5>
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Monto Ofertado</font>
            </font>
        </h5>

    </li>

</ul>