<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 white-box" style="padding:18px">
    <div class="row">
        <div class="col-lg-6">
            <h5 class="text-left">Total
                <ng-container *ngIf="tipo == 1"><b>Colaboradores</b></ng-container>
                <ng-container *ngIf="tipo == 2"><b>Afiliados</b></ng-container>
            </h5>
            <h1 class="text-left">{{ total | number}}</h1>
        </div>
        <div class="col-lg-6">
            <div class="radio radio-info">
                <input type="radio" name="radio" id="radio5" (click)="sendTipo(1)" value="option5" checked>
                <label for="radio5"> Colaboradores </label>
                <hr>
                <input type="radio" name="radio" id="radio5" (click)="sendTipo(2)" value="option5">
                <label for="radio5"> Afiliados </label>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="media">
            <h5 class="media-heading">Farmacia</h5>
            <div class="col-lg-4">
                <div class="checkbox checkbox-info checkbox-circle">
                    <input id="checkSalco" #checkSalco type="checkbox" (change)="onChangeSalco(checkSalco.checked)">
                    <label for="checkbox8"> Salco </label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="checkbox checkbox-success checkbox-circle">
                    <input id="checkCruzVerde" #checkCruzVerde type="checkbox" (change)="onChangeCruzVerde(checkCruzVerde.checked)">
                    <label for="checkbox-10"> C. Verde </label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="checkbox checkbox-danger checkbox-circle">
                    <input id="#checkCruzVerde" #checkAhumada type="checkbox" (change)="onChangeAhumada(checkAhumada.checked)">
                    <label for="checkbox-12"> Ahumada </label>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="col-lg-6  col-md-6 col-sm-6 col-xs-6 white-box" style="padding:5px">
    <h5><b>Regiones</b></h5>

    <div class="list-group" style="height: 225px; overflow-y: scroll;">
        <ng-container *ngFor="let region of colaboradoresRegion;let i=index">
            <ng-container *ngIf="region.data.region != null">
                <a href="javascript:void(0)" (click)="sendPosition(region.data)" class="list-group-item" style="padding: 0px 15px;">
                    <h4 class="text-left"><b>{{ region.data.n | number  }} &nbsp;</b> <small>{{ region.data.region }}</small></h4>

                </a>
            </ng-container>
        </ng-container>

    </div>
</div>